.artwork-list {
  display: flex;
}

.artwork-list > * {
  flex: 1;
}

.header {
  color: #8d8d8d;
  font-size: 17px;
  font-weight: normal;
  margin-left: 1.1rem;
}

.artwork-row {
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #e3e9e8;
  color: #000;
  display: flex;
  font-size: 1.1rem;
  height: 4rem;
  padding: 0.3rem 0.5rem;
  text-decoration: none;
  width: calc(100% - 1rem);
}

@media (max-width: 490px) {
  .artwork-row span {
    display: none;
  }
}

.active-artwork-row {
  background-color: #f6fafb;
  background-image: linear-gradient(108deg, rgb(235, 244, 244) 50%, rgb(251, 253, 253) 45%, rgb(255, 255, 255) 85%, rgb(255, 255, 255) 100%);
  cursor: default;
}

.artwork-avatar {
  background-size: cover;
  border-radius: 50%;
  height: 3rem;
  margin: 0 0.6rem;
  width: 3rem;
}

.spotlight {
  background-image: linear-gradient(288deg, rgb(235, 244, 244) 50%, rgb(251, 253, 253) 45%, rgb(255, 255, 255) 85%, rgb(255, 255, 255) 100%);
  box-sizing: border-box;
  height: 400px;
  margin-left: auto;
  padding-top: 105px;
  width: 460px;
}

.spotlight-img {
  background-size: cover;
  border-radius: 50%;
  height: 9rem;
  margin: auto;
  width: 9rem;
}

.spotlight-label {
  font-size: 25px;
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
}
