.nav-bar {
  align-items: flex-start;
  display: flex;
  list-style: none;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 0;
}

.link {
  background: #ecf5f5;
  color: #000;
  display: block;
  padding: 20px;
  text-decoration: none;
  z-index: 1;
}

.active-link {
  background: #7e9494;
  border-bottom: none;
  box-shadow: none;
  color: #fff;
  z-index: 0;
}
